In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [4]:
ch83dg = pd.read_csv('./cleaned_data/ch83dg.csv')
ch83m = pd.read_csv('./cleaned_data/ch83m.csv')
ch83pru = pd.read_csv('./cleaned_data/ch83pru.csv')
ch83q = pd.read_csv('./cleaned_data/ch83q.csv')
ch89dg = pd.read_csv('./cleaned_data/CH89DG.csv')
ch89m = pd.read_csv('./cleaned_data/ch89m.csv')
ch89pru = pd.read_csv('./cleaned_data/ch89pru.csv')
ch89q = pd.read_csv('./cleaned_data/ch89q.csv')
ch93pru = pd.read_csv('./cleaned_data/ch93pru.csv')
ch93q = pd.read_csv('./cleaned_data/ch93q.csv')
chtaim = pd.read_csv('./cleaned_data/chtaim.csv')
chtaipru = pd.read_csv('./cleaned_data/chtaipru.csv')
chtaiq = pd.read_csv('./cleaned_data/chtaiq.csv')

In [6]:
# taking a closer look at the questionaire from 1989
ch89q.head()

,Unnamed: 0,county,sex,xiang,q001,q002,q003,q004,q005,q006,...,q238,q239,q240,q241,q242,q243,q244,q245,q246,q247
0,0,AA,M,1,NaN,NaN,NaN,NaN,3.3,0.0,...,NaN,NaN,NaN,NaN,33.8,1.13,1.42,1.05,16.6,1.03
1,1,AA,M,2,NaN,NaN,NaN,NaN,3.3,0.0,...,NaN,NaN,NaN,NaN,29.6,1.09,1.36,1.05,15.7,0.99
2,2,AA,M,3,NaN,NaN,NaN,NaN,3.3,0.0,...,NaN,NaN,NaN,NaN,31.7,1.11,1.39,1.05,16.2,1.01
3,3,AA,F,1,NaN,NaN,NaN,NaN,10.0,0.0,...,11.5,92.3,88.5,3.8,31.8,1.08,1.41,1.04,15.9,0.99
4,4,AA,F,2,NaN,NaN,NaN,NaN,12.5,0.0,...,12.0,88.0,80.0,6.0,28.5,1.04,1.34,1.03,15.4,0.98

In [12]:
# q001: TOTAL 1989 XIANG POPULATION (1000s) 
ch89q['q001'].loc[ch89q['q001'].notnull()].describe()

count    207.000000
mean      27.582126
std       19.162509
min        1.400000
25%       13.700000
50%       21.300000
75%       37.315000
max       91.820000
Name: q001, dtype: float64

In [13]:
# Average population size 27,582
# largest population 91,8200
# smallest population 1,400

In [14]:
# q002: NUMBER OF VILLAGES IN XIANG
ch89q['q002'].loc[ch89q['q002'].notnull()].describe()

count    207.000000
mean      19.454106
std       19.446381
min        4.000000
25%       11.000000
50%       15.000000
75%       22.000000
max      155.000000
Name: q002, dtype: float64

In [15]:
ch89q['q008'].loc[ch89q['q008'].notnull()].describe()

count    207.000000
mean      17.186473
std       11.921813
min        0.000000
25%        7.900000
50%       14.500000
75%       24.350000
max       47.500000
Name: q008, dtype: float64