In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
ch93q = pd.read_csv('./cleaned_data/ch93q.csv')

In [3]:
ch93q.head()

,Unnamed: 0,county,sex,xiang,q005,q006,q012,q013,q014,q019,...,q182,q183,q184,q185,q186,q187,q188,q190,q191,q192
0,3,AC,F,1,4.0,0.0,4.0,8.0,0.0,20.0,...,0.0,0.0,41.7,17.1,27.5,3.9,50.0,3.5,0.4,2.9
1,4,AC,F,2,3.2,0.0,0.0,9.7,0.0,0.0,...,0.0,0.0,30.0,16.8,28.7,3.9,49.0,3.7,0.7,3.1
2,5,AC,F,3,3.6,0.0,2.0,8.8,0.0,10.0,...,0.0,0.0,35.9,17.0,28.1,3.9,49.5,3.6,0.6,3.0
3,12,BA,F,1,3.1,0.0,0.0,0.0,0.0,6.3,...,0.0,0.0,0.0,17.6,28.9,4.6,48.0,6.0,0.5,5.4
4,13,BA,F,2,5.9,0.0,0.0,0.0,0.0,5.9,...,0.0,0.0,0.0,16.9,29.4,4.5,48.0,4.5,0.8,3.7