In [78]:
import pandas as pd

In [50]:
ch89dg = pd.read_csv('./cleaned_data/CH89DG.csv')
ch89m = pd.read_csv('./cleaned_data_descriptive/ch89m.csv')
ch89pru = pd.read_csv('./cleaned_data/ch89pru.csv')
ch89q = pd.read_csv('./cleaned_data/ch89q.csv')

In [140]:
ch89m_model

,m005_ALL35_69,m008_MEDICALc,m065_STROKEc,m023_ALLCAc,m059_ALLVASCc,m028_OESOPHCAc,m072_COPDc,m010_NONMEDc,county,sex,xiang
0,15.08,13.98,193.02,6.13,2.50,166.66,333.19,110.50,AA,M,3
1,7.49,6.91,122.77,2.75,1.61,62.46,124.03,58.77,AA,F,3
2,11.29,10.45,157.90,4.44,2.06,114.56,228.61,84.64,AA,T,3
3,15.37,14.45,196.62,6.07,2.43,166.30,352.14,92.30,AB,M,3
4,8.27,7.64,131.42,2.92,1.71,57.80,135.77,62.97,AB,F,3
...,...,...,...,...,...,...,...,...,...,...,...
196,13.94,13.39,237.08,3.56,3.82,216.23,217.77,54.82,XB,F,3
197,18.88,17.63,223.03,4.96,3.88,314.56,353.98,125.30,XB,T,3
198,24.37,22.51,599.82,9.12,7.78,204.30,456.50,186.19,YA,M,3
199,11.52,11.39,208.17,4.77,2.89,127.31,204.53,12.94,YA,F,3
200,17.95,16.95,404.00,6.94,5.33,165.81,330.51,99.56,YA,T,3

In [141]:
ch89m_model.loc[ch89m_model.county.isna(), 'county'] = 'NA'

In [16]:
questions_list

     Unnamed: 0 question
0             0     q010
1             1     q015
2             2     q016
3             3     q022
4             4     q023
..          ...      ...
133         133     q237
134         134     q238
135         135     q239
136         136     q240
137         137     q241

[138 rows x 2 columns]

###### merge tables

In [19]:
mortality_list = pd.read_csv('./cleaned_data_descriptive/mortality_list.csv')
mortality_list

   Unnamed: 0 mortality_targets
0           0     m005_ALL35_69
1           1     m008_MEDICALc
2           2      m065_STROKEc
3           3       m023_ALLCAc
4           4     m059_ALLVASCc
5           5    m028_OESOPHCAc
6           6        m072_COPDc
7           7      m010_NONMEDc

In [51]:
m_targets = pd.read_csv('./cleaned_data_descriptive/mortality_list.csv')
m_targets = m_targets['mortality_targets']
list(m_targets.values)

['m005_ALL35_69',
 'm008_MEDICALc',
 'm065_STROKEc',
 'm023_ALLCAc',
 'm059_ALLVASCc',
 'm028_OESOPHCAc',
 'm072_COPDc',
 'm010_NONMEDc']

In [66]:
questions = pd.read_csv('./cleaned_data_descriptive/questions_list.csv')
questions = questions['question']
questions
m_targets = pd.read_csv('./cleaned_data_descriptive/mortality_list.csv')
m_targets = m_targets['mortality_targets']
dg_to_keep = ['d005','d006','d007','d008','d009', 
               'd012','d013','d014','d015','d016', 
               'd028','d029','d030','d031','d032','d033','d034','d035','d036', 
               'd037','d038','d039','d040', 
               'd041','d042','d043','d044','d045','d046', 
               'd047','d048','d049','d050','d051','d052', 
               'g001','g002','g003','g004','g005']
ch89q_model = ch89q.loc[:,list(questions) + ['county', 'sex', 'xiang'] ]
ch89dg_model = ch89dg.loc[:,list(dg_to_keep) + ['county', 'sex', 'xiang']]
ch89m_model = ch89m.loc[:,list(m_targets.values) + ['county', 'sex', 'xiang']]

In [71]:

    
bat = pd.merge(ch89q_model, ch89dg_model, 
               how='left',
              left_on=['county', 'sex', 'xiang'],
              right_on=['county', 'sex', 'xiang'])
bat = pd.merge(bat, ch89m_model,
               how='left',
              left_on=['county', 'sex', 'xiang'],
              right_on=['county', 'sex', 'xiang'])
bat = pd.merge(bat, ch89pru,
               how='left',
              left_on=['county', 'sex', 'xiang'],
              right_on=['county', 'sex', 'xiang'])

In [73]:
bat.shape

(621, 297)

In [70]:
bat

,q010,q015,q016,q022,q023,q024,q025,q037,q038,q039,...,g004,g005,m005_ALL35_69,m008_MEDICALc,m065_STROKEc,m023_ALLCAc,m059_ALLVASCc,m028_OESOPHCAc,m072_COPDc,m010_NONMEDc
0,NaN,NaN,NaN,3.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,6.7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,15.08,13.98,193.02,6.13,2.50,166.66,333.19,110.50
3,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11.52,11.39,208.17,4.77,2.89,127.31,204.53,12.94
618,0.0,70.0,85.0,NaN,16.7,46.7,35.0,7149.0,142.0,2142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,0.0,70.0,85.0,NaN,28.3,58.3,11.7,7327.0,25.0,980.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
620,0.0,70.0,85.0,1.7,22.5,52.5,23.4,7238.0,84.0,1561.0,...,3.0,2.0,17.95,16.95,404.00,6.94,5.33,165.81,330.51,99.56

###### clustering analysis

In [74]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [77]:
km = KMeans()
ss = StandardScaler()

In [150]:
ch89m_model.loc[ch89m_model['sex'] == 'T',]

m005_ALL35_69     0
m008_MEDICALc     0
m065_STROKEc      0
m023_ALLCAc       0
m059_ALLVASCc     0
m028_OESOPHCAc    0
m072_COPDc        0
m010_NONMEDc      0
county            0
sex               0
xiang             0
dtype: int64

In [147]:
ch89m_model.loc[ch89m_model['sex'] == 'T',]['county']

2      AA
5      AB
8      AC
11     BA
14     BB
       ..
188    WB
191    WC
194    XA
197    XB
200    YA
Name: county, Length: 67, dtype: object

In [123]:
bat_km[]

(207, 297)

In [163]:
bat.shape

(621, 297)

In [177]:
bat_km = bat[(bat['sex'] == 'T') & (bat['xiang'] == 3)]
# bat_km.dropna(axis = 0, thresh=150)
# sum(bat_km.isna().sum().sort_values(ascending=False) <100)
bat_km.shape
bat_km.county
bat_km.isna().sum().sort_values(ascending=False).describe()
bat_km = bat_km.dropna(axis=1)
bat_km.isna().sum().describe()
bat_km.columns

Index(['q010', 'q015', 'q016', 'q022', 'q023', 'q024', 'q025', 'q037', 'q038',
       'q039',
       ...
       'r017', 'r018', 'r019', 'r020', 'r021', 'r022', 'r023', 'r024', 'r025',
       'r026'],
      dtype='object', length=193)

In [178]:
bat_km_sc = ss.fit_transform(bat_km.select_dtypes(exclude = 'object'))

In [180]:
km = KMeans(n_clusters=3)
km.fit(bat_km_sc)

KMeans(n_clusters=3)

In [181]:
km.cluster_centers_

array([[-1.20638548e-01, -3.39330490e-02,  1.47613623e-01,
         3.93717877e-01, -6.74926354e-01,  6.42189268e-01,
         2.01631402e-01,  4.86137456e-01,  8.00937749e-01,
         1.10270268e+00, -1.47518352e-01,  6.17487105e-02,
         7.73204222e-02,  1.19553723e-01,  3.85456949e-03,
        -5.08555894e-01,  1.84427483e-01, -4.04945267e-01,
        -8.26646955e-01, -1.01304559e+00,  4.50038756e-01,
         4.45333237e-01, -2.45355516e-01, -4.60785745e-01,
        -4.17017092e-01, -1.07036417e-01, -3.49947584e-01,
        -4.39954159e-01, -6.12211445e-01, -3.85448569e-01,
        -2.55162977e-01, -6.81406027e-01, -6.80119891e-01,
        -4.18616563e-01, -4.69049505e-01, -3.61200725e-01,
        -5.50951665e-01, -4.76097250e-01,  5.19675901e-01,
        -1.07482133e-01,  3.55856771e-01, -6.61129039e-02,
        -3.04788253e-01, -4.11069259e-01, -4.34436303e-01,
        -5.67495858e-01,  1.37086260e-01, -1.37500576e-01,
        -1.19011627e-01, -1.99288930e-01,  2.12311970e-01,
         3.27590702e-03,  2.20523503e-01,  2.49314595e-01,
        -5.29498143e-01,  4.72690718e-01, -4.42911219e-01,
        -1.71890843e-01, -1.49793381e-01,  3.29666782e-01,
         2.38492710e-01,  1.09865560e-01, -9.75813370e-02,
        -4.49689626e-01,  2.50485018e-01,  1.33300535e-01,
         5.48672573e-01, -7.69532912e-01, -4.25119989e-01,
        -3.79156121e-01, -3.49430661e-01, -2.54733689e-01,
         2.88735933e-01, -2.30990422e-02,  1.34287252e-01,
         9.37247083e-01,  9.50858914e-01,  1.97038116e-01,
        -2.03837056e-01, -1.52770844e-01, -3.10498133e-01,
         6.51338564e-01,  5.79554896e-01,  1.23685071e+00,
         7.93024480e-01, -3.08074358e-01, -2.42447960e-01,
         0.00000000e+00,  6.99527263e-01, -1.38440982e-01,
         9.96508170e-01, -9.49023452e-01, -6.51062880e-01,
         2.78911803e-02, -7.00827720e-01, -1.14135950e-01,
        -7.39285030e-01, -3.99281889e-01, -1.10198316e+00,
         6.73525916e-01, -9.79109767e-01, -8.88347672e-01,
         8.88183153e-01, -1.36110149e+00,  8.13041799e-01,
        -1.06333910e+00,  1.06282549e+00,  5.77465022e-01,
        -7.50205289e-01, -5.19602931e-01, -4.09080759e-01,
        -4.48252100e-01, -6.80588202e-01,  4.15661569e-01,
        -1.00662330e-01, -2.30481818e-01, -9.55245893e-03,
        -2.00526409e-01, -3.18954276e-02,  7.55871221e-01,
         6.79535432e-01,  6.68242349e-01,  9.09080703e-01,
        -1.31536649e+00,  1.21281105e-01, -6.53364122e-01,
        -6.46050687e-01,  1.46616567e+00,  5.12855655e-01,
         8.73529878e-01,  4.43566318e-01,  8.09582840e-01,
         3.30360292e-01,  9.98332258e-01, -8.00622195e-01,
        -5.35637706e-02,  1.03868925e+00,  5.25584442e-01,
        -7.33066408e-01,  2.65020279e-01,  3.82116373e-01,
        -1.02738349e-01, -9.91226574e-01, -4.49814880e-01,
        -3.02816375e-01,  5.96572386e-01, -4.85495081e-01,
        -2.84018081e-01,  3.35063837e-01, -6.89472784e-01,
        -4.92671056e-01,  2.31641712e-01,  1.75552283e-01,
        -3.39548335e-01,  1.91852182e-01,  8.47710237e-01,
         5.52302595e-01, -2.12463941e-01, -5.81881785e-02,
         1.06639398e-01, -3.05172921e-01,  2.39304924e-01,
        -6.39260880e-02,  6.37639149e-01, -1.36065897e-02,
         2.62640241e-01,  1.66130391e-01, -5.71911652e-01,
        -4.32971510e-01, -9.75171549e-01,  1.21273694e+00,
         7.03238411e-01,  1.28924178e+00,  1.28094024e+00,
        -1.11604821e+00, -1.19219690e+00, -5.27814465e-01,
        -3.51097079e-01,  3.41203723e-01,  1.49916111e+00,
        -4.68702766e-01, -4.43633088e-01, -6.26487311e-01,
        -7.94451945e-01, -8.88385020e-01, -4.95623624e-01,
         6.56068385e-01,  7.23755965e-01,  2.13747155e-01,
        -3.18517125e-01,  4.50176369e-01,  1.40025234e+00],
       [ 1.09944267e-01, -2.07240043e-01, -3.20190454e-01,
         2.40277388e-01,  2.95195462e-01, -5.90513563e-01,
         2.38597685e-01, -1.45107113e-01, -4.44134230e-01,
        -5.20098171e-01,  9.48930648e-02, -3.61472090e-01,
        -5.72143365e-01, -4.23297580e-01, -5.22536587e-02,
         1.39030025e-01, -3.68699409e-01,  7.96405020e-01,
         8.84756545e-01,  8.06806633e-01, -5.70222808e-01,
        -1.64439173e-01, -2.63967577e-01, -5.33762463e-01,
        -1.46804087e-02,  1.93094644e-01,  2.60784477e-01,
         3.71593862e-01,  3.87416348e-01, -2.10706290e-02,
        -1.90587924e-02,  8.43677524e-02,  4.01748787e-02,
         4.56613128e-01,  3.61497974e-01,  4.42152001e-01,
         5.36569935e-01,  5.24317084e-01, -7.38516332e-02,
         4.14637291e-01,  2.66314548e-02,  2.41125627e-01,
         5.62462129e-01,  2.93040182e-03,  1.36733658e-01,
         1.88272397e-02, -5.19546601e-01,  1.49314806e-01,
         1.34344671e-01, -2.42947102e-01, -3.72042237e-01,
         3.16769570e-01, -4.88849613e-02,  2.59660646e-01,
         2.86188750e-01, -1.81497210e-01,  4.36856776e-01,
         3.33864906e-02, -4.98020550e-01, -3.46808345e-01,
        -3.93795105e-01, -6.43623407e-01, -4.17932868e-01,
        -1.61485144e-01, -4.04916180e-01, -5.92622428e-01,
        -1.16595026e+00,  1.05732688e+00,  6.65386536e-01,
         5.54949295e-01,  3.66485497e-01,  1.43296991e-01,
        -1.81688601e-01, -2.37506106e-01, -5.21108570e-01,
        -5.75880368e-01, -5.35726866e-01, -1.39608309e-01,
        -7.23552750e-02, -3.63082754e-01,  4.36447187e-02,
        -1.02106736e+00, -4.10662828e-02, -5.66250194e-01,
        -1.19115065e-01,  1.02505867e-01,  4.39220216e-01,
         0.00000000e+00, -5.44930360e-01,  7.04024469e-01,
        -4.04745613e-01,  9.56451916e-01,  4.27359336e-01,
        -5.64947640e-01,  5.24101102e-02, -4.48447957e-01,
         7.08149276e-01, -6.91450663e-02,  9.49092262e-02,
        -3.13366684e-01, -1.56337248e-02,  3.39748713e-01,
        -3.38065742e-01,  7.62219789e-01, -4.02403947e-01,
         5.05503033e-01, -5.05487863e-01, -1.16723107e+00,
         1.04434138e+00,  6.61528306e-01,  1.65004295e-01,
        -3.39200575e-01,  2.46120682e-01, -6.13721535e-01,
        -6.40523992e-04, -1.54502174e-01,  1.02628475e-02,
         3.31175274e-01, -2.20115719e-01, -4.08310147e-01,
        -3.38247935e-01, -5.16983100e-01, -5.54555301e-01,
         9.85695574e-01, -4.05407044e-01,  7.37133818e-01,
         1.06846844e+00, -9.60230801e-01,  2.31736821e-02,
        -1.02273440e-02, -3.84244868e-01,  1.84922536e-01,
        -4.96038278e-01, -4.66414013e-02,  2.17974064e-01,
         9.77011983e-02, -2.33812922e-01,  2.36326476e-01,
         8.10561727e-01,  1.80767184e-01,  1.28862454e-01,
         3.46133185e-01,  4.83746846e-01,  7.04481951e-01,
         2.48141510e-01, -1.44333689e-01,  4.91641618e-01,
        -1.69137827e-01, -3.35217024e-01,  8.19480652e-01,
         6.76594621e-01, -6.46694871e-01, -3.14077409e-01,
         3.37081321e-01,  1.01218831e-01, -1.13531354e-01,
         5.38259745e-02,  4.91439897e-01,  4.04851369e-01,
         2.24735009e-01,  3.11192757e-02,  1.72672023e-03,
        -5.00501985e-01, -5.58323502e-01, -6.64946743e-02,
        -2.36769881e-01,  4.88827717e-01,  2.43294447e-01,
         4.88854946e-01, -3.60124439e-01, -1.12145967e-01,
         4.40372301e-01,  6.77405181e-02, -1.28932387e-01,
         5.17191803e-01,  3.92365134e-01,  6.47330902e-01,
         1.61167940e-01,  5.63430647e-01, -4.75828414e-01,
         1.68862674e-01, -3.02465946e-01, -2.04212749e-01,
        -4.13769680e-01, -2.93823556e-01,  1.31939214e-01,
        -2.07271106e-01,  5.02771943e-01,  2.96885124e-01,
         1.11680423e-01,  8.02290672e-02, -2.71211433e-01],
       [-4.03314231e-02,  2.02182890e-01,  2.15805554e-01,
        -4.05491806e-01,  6.11685152e-02,  2.19403547e-01,
        -3.11254464e-01, -1.04591015e-01,  1.15297067e-02,
        -6.60443153e-02, -1.38607847e-02,  2.94268704e-01,
         4.75629020e-01,  3.21792585e-01,  4.49872812e-02,
         1.20862133e-01,  2.41524134e-01, -5.18527476e-01,
        -3.94159062e-01, -2.34287383e-01,  2.93974152e-01,
        -6.75602348e-02,  3.55108077e-01,  7.00993947e-01,
         2.14480342e-01, -1.21446583e-01, -6.48665598e-02,
        -1.20761455e-01, -5.17884416e-02,  2.04969528e-01,
         1.40269320e-01,  2.53314580e-01,  2.92314884e-01,
        -2.07286532e-01, -9.76639393e-02, -2.22039375e-01,
        -2.15086035e-01, -2.40237334e-01, -1.84666212e-01,
        -3.19855851e-01, -1.95669401e-01, -1.84265022e-01,
        -3.57137235e-01,  1.95819972e-01,  8.71390739e-02,
         2.57083923e-01,  3.99620828e-01, -6.74888581e-02,
        -6.29930575e-02,  3.14023092e-01,  2.31059676e-01,
        -2.85581777e-01, -6.26317259e-02, -3.53157969e-01,
        -9.63224273e-04, -6.54738828e-02, -1.77845487e-01,
         5.30490704e-02,  5.18815229e-01,  1.51782138e-01,
         2.37923269e-01,  5.24003129e-01,  4.21806665e-01,
         3.61871328e-01,  2.42104498e-01,  4.66964677e-01,
         7.80458302e-01, -5.76449589e-01, -3.91323107e-01,
        -3.14499861e-01, -1.59882541e-01, -5.49828035e-03,
         2.35034678e-02,  2.24087771e-01,  4.02372458e-01,
         6.38424276e-02,  2.12715076e-02,  3.00442212e-02,
         1.63274343e-01,  3.99273911e-01,  1.10765902e-01,
         6.01000392e-01, -2.42967076e-01, -8.94277542e-02,
        -2.76046587e-01,  5.68237404e-02, -2.76739799e-01,
         0.00000000e+00,  1.50855437e-01, -5.64360774e-01,
        -1.18197532e-01, -3.99359361e-01, -6.88435315e-02,
         4.93040073e-01,  2.91342249e-01,  4.57156903e-01,
        -2.77996233e-01,  2.54748903e-01,  4.46900840e-01,
        -4.42010011e-02,  4.86690124e-01,  1.24255203e-01,
        -1.25684650e-01, -2.62859863e-02, -3.17269846e-02,
         6.01265038e-02, -5.98921543e-02,  7.67706814e-01,
        -5.74137998e-01, -3.42251549e-01,  4.95523778e-02,
         5.20508426e-01,  1.07899900e-01,  3.49568895e-01,
         4.91698705e-02,  2.49786275e-01, -4.58964171e-03,
        -2.00109910e-01,  2.12742920e-01,  1.16781869e-03,
        -2.47948192e-02,  1.40902335e-01,  5.83209643e-02,
        -2.48722554e-01,  3.04918885e-01, -3.45461434e-01,
        -6.46050687e-01,  1.53092463e-01, -2.68361893e-01,
        -4.12534736e-01,  1.30359935e-01, -5.56625714e-01,
         2.85239694e-01, -4.40137075e-01,  1.91082244e-01,
        -6.17358058e-02, -2.91810810e-01, -4.65609330e-01,
        -3.72816386e-01, -2.90007955e-01, -3.00001828e-01,
        -2.60728480e-01,  4.48191052e-02, -4.14452497e-01,
        -7.62844830e-02, -1.58597845e-01, -2.06405205e-01,
         2.88752987e-01,  1.38784445e-01, -4.01857861e-01,
        -3.68760874e-01,  4.67968368e-01,  1.96837265e-01,
        -1.38290953e-01, -1.83366212e-01, -3.07452694e-01,
        -3.14886609e-01, -3.38032487e-01, -3.34879348e-01,
        -2.52967648e-01,  1.19424818e-01, -1.17074609e-01,
         4.79586788e-01,  1.92740102e-01,  6.61846134e-02,
         8.54846042e-02, -5.18460211e-01,  5.79692239e-02,
        -2.29263016e-01,  7.93642658e-01, -4.84914554e-01,
        -7.34310951e-01, -6.83125460e-01, -5.02790388e-01,
         7.50926927e-02,  2.23767695e-01, -3.25558653e-01,
         2.49997472e-02, -6.69863757e-01, -2.97128165e-01,
         7.48761788e-02,  4.85344063e-01,  4.85529442e-01,
         7.54494445e-01,  6.92303542e-01,  1.20976247e-01,
        -1.30893401e-01, -8.00160484e-01, -3.69361151e-01,
         5.36396121e-02, -2.89256031e-01, -4.32828811e-01]])

In [182]:
km.labels_

array([2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0,
       2, 2, 2, 1, 2, 2, 2, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1], dtype=int32)

In [185]:
from sklearn.metrics import silhouette_score

In [191]:
# code from GA lesson 39 k_means
scores = []

for k in range(2, 5):
    km = KMeans(n_clusters = k)
    km.fit(bat_km_sc)
    inertia = km.inertia_
    silhouette = silhouette_score(bat_km_sc, km.labels_)
    scores.append([k, inertia, silhouette])

score_df = pd.DataFrame(scores, columns = ['k', 'inertia', 'silhouette'])
score_df

   k       inertia  silhouette
0  2  11600.388242    0.115461
1  3  10627.468550    0.088429
2  4   9919.415090    0.092072

In [193]:
import numpy as np

In [197]:
# This code reads the text file with all the code descriptions as a single column and 
# will return a df. The last bits will match the imported text file to the features with an 
# importance > 0
# After the initial modeling:

with open('./data/CHNAME.txt', 'r') as file:
    data = file.read()
    rows = data.split('\n')

descriptions = pd.DataFrame(rows)

text_df = descriptions.iloc[::2,:]
text_df['code'] = text_df[0].str.split(expand=True).iloc[:,0]
text_df.rename(columns={0:'description'}, inplace=True)
text_df['code'] = text_df['code'].str.lower()
text_df

/var/folders/7q/63cgxnn50sl5zwxkchv_j2cr0000gn/T/ipykernel_4681/1765311509.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text_df['code'] = text_df[0].str.split(expand=True).iloc[:,0]
/var/folders/7q/63cgxnn50sl5zwxkchv_j2cr0000gn/T/ipykernel_4681/1765311509.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text_df.rename(columns={0:'description'}, inplace=True)
/var/folders/7q/63cgxnn50sl5zwxkchv_j2cr0000gn/T/ipykernel_4681/1765311509.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text_df['code'] = text_df['code'].str.lower()

                                            description  code
0     M001 ALL0-4     mortality ALL CAUSES AGE 0-4 (...  m001
2     M002 ALL5-14    mortality ALL CAUSES AGE 5-14 ...  m002
4     M003 ALL15-34   mortality ALL CAUSES AGE 15-34...  m003
6     M004 ALL0-34    mortality ALL CAUSES AGE 0-34 ...  m004
8     M005 ALL35-69   mortality ALL CAUSES AGE 35-69...  m005
...                                                 ...   ...
1268  Q243 fWTadj     questionnaire WEIGHT OF SCHOOL...  q243
1270  Q244 fHT        questionnaire HEIGHT OF SCHOOL...  q244
1272  Q245 fHTadj     questionnaire HEIGHT OF SCHOOL...  q245
1274  Q246 fBMI       questionnaire WEIGHT/HEIGHT**2...  q246
1276  Q247 fBMIadj    questionnaire WEIGHT/HEIGHT**2...  q247

[639 rows x 2 columns]

k-means doesn't offer much of value here.

In [198]:
from sklearn.cluster import DBSCAN

In [232]:
dbscan = DBSCAN(eps = 11, min_samples=2)
dbscan.fit(bat_km_sc)
silhouette_score(bat_km_sc, dbscan.labels_)
dbscan.labels_

array([-1,  0,  0, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1,  0,  0, -1,  1,  1, -1, -1, -1, -1, -1, -1,  2, -1,  2,
       -1, -1, -1, -1, -1, -1,  3, -1, -1,  3,  4, -1,  4, -1, -1, -1, -1,
       -1, -1, -1, -1,  5,  5, -1,  5, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1])

In [228]:
list(bat_km.columns)

['q010',
 'q015',
 'q016',
 'q022',
 'q023',
 'q024',
 'q025',
 'q037',
 'q038',
 'q039',
 'q040',
 'q082',
 'q083',
 'q084',
 'q087',
 'q088',
 'q089',
 'q090',
 'q091',
 'q092',
 'q093',
 'q094',
 'q095',
 'q096',
 'q097',
 'q098',
 'q099',
 'q100',
 'q101',
 'q102',
 'q103',
 'q104',
 'q105',
 'q106',
 'q107',
 'q108',
 'q109',
 'q110',
 'q119',
 'q120',
 'q121',
 'q122',
 'q123',
 'q124',
 'q125',
 'q126',
 'q127',
 'q128',
 'q129',
 'q136',
 'q137',
 'q140',
 'q141',
 'q144',
 'q145',
 'q146',
 'q147',
 'q148',
 'q149',
 'q150',
 'q151',
 'q152',
 'q153',
 'q154',
 'q155',
 'q156',
 'q157',
 'q158',
 'q159',
 'q160',
 'q161',
 'q162',
 'q163',
 'q164',
 'q165',
 'q166',
 'q167',
 'q168',
 'q169',
 'q170',
 'q171',
 'q172',
 'q173',
 'q174',
 'q175',
 'q176',
 'q177',
 'sex',
 'xiang',
 'd005',
 'd006',
 'd007',
 'd008',
 'd009',
 'd012',
 'd013',
 'd014',
 'd015',
 'd016',
 'd028',
 'd029',
 'd030',
 'd031',
 'd032',
 'd033',
 'd034',
 'd035',
 'd036',
 'd037',
 'd038',
 'd039',
 'd040',
 'd041',
 'd042',
 'd043',
 'd044',
 'd045',
 'd046',
 'd047',
 'd048',
 'd049',
 'd050',
 'd051',
 'd052',
 'g001',
 'g002',
 'g003',
 'g004',
 'g005',
 'Unnamed: 0',
 'p001',
 'p002',
 'p003',
 'p004',
 'p005',
 'p006',
 'p008',
 'p009',
 'p010',
 'p011',
 'p012',
 'p013',
 'p014',
 'p015',
 'p016',
 'p017',
 'p018',
 'p019',
 'p020',
 'p021',
 'p022',
 'p023',
 'p024',
 'p025',
 'p026',
 'p027',
 'p030',
 'p031',
 'p032',
 'p033',
 'p034',
 'p038',
 'p039',
 'p040',
 'p042',
 'p043',
 'p044',
 'r001',
 'r002',
 'r003',
 'r004',
 'r005',
 'r006',
 'r007',
 'r008',
 'r009',
 'r010',
 'r011',
 'r012',
 'r013',
 'r014',
 'r015',
 'r016',
 'r017',
 'r018',
 'r019',
 'r020',
 'r021',
 'r022',
 'r023',
 'r024',
 'r025',
 'r026']

adjusting the eps parameter did not reveal anything useful. The best silhouette score for .24 was seen with min_samples = 1, eps = 18.

spectral implementation from [source](https://www.youtube.com/watch?v=YHz0PHcuJnk)

In [237]:
from sklearn.preprocessing import normalize
from scipy import linalg
import matplotlib.pyplot as plt

In [262]:
U, sigma, _ = linalg.svd(bat_km_sc, full_matrices=False, lapack_driver='gesvd')

Usubset = U[:,0:2]
y_pred_sc = KMeans(n_clusters=2).fit_predict(normalize(Usubset))

y_pred_sc
# Usubset

array([1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0], dtype=int32)

In [261]:
silhouette_score(bat_km_sc,y_pred_sc)

0.05664362916161154