## Data Cleaning

In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
ch83dg = pd.read_csv('./data/ch83dg.csv')
ch83m = pd.read_csv('./data/ch83m.csv')
ch83pru = pd.read_csv('./data/ch83pru.csv')
ch83q = pd.read_csv('./data/ch83q.csv')
ch89dg = pd.read_csv('./data/CH89DG.csv')
ch89m = pd.read_csv('./data/ch89m.csv')
ch89pru = pd.read_csv('./data/ch89pru.csv')
ch89q = pd.read_csv('./data/ch89q.csv')
ch93pru = pd.read_csv('./data/ch93pru.csv')
ch93q = pd.read_csv('./data/ch93q.csv')
chtaim = pd.read_csv('./data/chtaim.csv')
chtaipru = pd.read_csv('./data/chtaipru.csv')
chtaiq = pd.read_csv('./data/chtaiq.csv')

In [3]:
ch89dg.head(3) 
# many cells with periods only, used as an NA/null. Need to replace. 
# empty column added at end, due to formatting from csv. Will drop.

,County,Sex,Xiang,D001,D002,D003,D004,D005,D006,D007,...,D158,D159,D160,D161,G001,G002,G003,G004,G005,
0,AA,M,1,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,NaN
1,AA,M,2,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,NaN
2,AA,M,3,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,NaN

In [4]:
def clean_header(df):
    '''fn should format all dataframes as described below'''
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace("-", "_").str.replace(" ", "").str.replace("__", "_")

    return df

In [5]:
# list of dataframes to edit and iterate over
df_list = [ch83dg,
ch83m,
ch83pru,
ch83q,
ch89dg,
ch89m,
ch89pru,
ch89q,
ch93pru,
ch93q,
chtaim,
chtaipru,
chtaiq]

In [6]:
[clean_header(i) for i in df_list];

In [7]:
ch83dg.columns # sanity check

Index(['county', 'sex', 'xiang', 'd001', 'd002', 'd003', 'd004', 'd005',
       'd006', 'd007',
       ...
       'd153', 'd154', 'd155', 'd156', 'd157', 'd158', 'd159', 'd160', 'd161',
       ''],
      dtype='object', length=151)

In [8]:
# regex used to replace all whitespace in cells with nothing. Then replace lonely periods with nothing.
[i.replace(to_replace=' ', value='', regex=True, inplace=True) for i in df_list]
[i.replace(to_replace='^\.$', value='', regex=True, inplace=True) for i in df_list]

[None, None, None, None, None, None, None, None, None, None, None, None, None]

In [9]:
# All cells imported as object type, casting to numeric for EDA later.
ch83dg = ch83dg.apply(pd.to_numeric, errors='ignore')
ch83m = ch83m.apply(pd.to_numeric, errors='ignore')
ch83pru = ch83pru.apply(pd.to_numeric, errors='ignore')
ch83q = ch83q.apply(pd.to_numeric, errors='ignore')
ch89dg = ch89dg.apply(pd.to_numeric, errors='ignore')
ch89m = ch89m.apply(pd.to_numeric, errors='ignore')
ch89pru = ch89pru.apply(pd.to_numeric, errors='ignore')
ch89q = ch89q.apply(pd.to_numeric, errors='ignore')
ch93pru = ch93pru.apply(pd.to_numeric, errors='ignore')
ch93q = ch93q.apply(pd.to_numeric, errors='ignore')
chtaim = chtaim.apply(pd.to_numeric, errors='ignore')
chtaipru = chtaipru.apply(pd.to_numeric, errors='ignore')
chtaiq = chtaiq.apply(pd.to_numeric, errors='ignore')

In [10]:
# drop empty column at end of each DF
ch83dg.drop(columns='',inplace=True)
ch83m.drop(columns='',inplace=True)
ch83pru.drop(columns='',inplace=True)
ch83q.drop(columns='',inplace=True)
ch89dg.drop(columns='',inplace=True)
ch89m.drop(columns='',inplace=True)
ch89pru.drop(columns='',inplace=True)
ch89q.drop(columns='',inplace=True)
ch93pru.drop(columns='',inplace=True)
ch93q.drop(columns='',inplace=True)
chtaim.drop(columns='',inplace=True)
chtaipru.drop(columns='',inplace=True)
chtaiq.drop(columns='',inplace=True)

In [11]:
# drop rows where there is no data in the row. Some rows have some empty cells, hence the thresholds.
ch83dg.dropna(thresh=148, inplace=True)
ch83m.dropna(thresh=69, inplace=True)
ch83pru.dropna(thresh=62, inplace=True)
# ch83q.dropna(thresh=189, inplace=True)
ch89dg.dropna(thresh=167, inplace=True)
ch89m.dropna(thresh=120, inplace=True)
ch89pru.dropna(thresh=108, inplace=True)
# ch89q.dropna(thresh=248, inplace=True)
ch93pru.dropna(thresh=19, inplace=True)
# ch93q.dropna(thresh=189, inplace=True)
chtaim.dropna(thresh=119, inplace=True)
chtaipru.dropna(thresh=100, inplace=True)
# chtaiq.dropna(thresh=189, inplace=True)

In [12]:
# sanity check. making sure we didn't drop every row.
[i.shape for i in df_list]

[(621, 151),
 (621, 72),
 (621, 65),
 (621, 61),
 (621, 170),
 (621, 123),
 (621, 111),
 (621, 251),
 (117, 22),
 (117, 111),
 (144, 122),
 (144, 103),
 (144, 122)]

In [13]:
ch83m.head(10) # sanity check. cursory glance at data cleaning efficacy.

,county,sex,xiang,m001,m002,m003,m004,m005,m006,m007,...,m086,m087,m088,m103,m104,m105,m106,m107,m113,m117
5,AA,F,3,3.20,42.49,74.48,100.46,7.67,59.48,60.57,...,12.62,1.00,0.00,12.64,0.31,16.02,9.71,6.30,4.73,0.09
14,AB,F,3,3.84,51.36,101.97,127.78,8.83,65.11,80.46,...,19.69,1.75,0.40,11.57,0.37,19.19,11.97,7.22,3.75,0.00
23,AC,F,3,3.13,47.66,71.48,99.12,8.27,67.32,62.52,...,15.61,2.33,0.00,7.63,0.45,15.63,9.32,6.31,2.31,0.00
32,BA,F,3,8.45,97.22,127.36,221.32,13.79,97.72,194.89,...,16.22,9.80,9.26,26.06,3.53,42.27,39.56,2.71,11.02,5.69
41,BB,F,3,4.28,70.01,99.73,138.10,11.96,59.72,113.14,...,21.23,5.37,2.41,9.98,1.83,21.39,19.91,1.48,6.78,3.18
50,BC,F,3,8.18,50.83,88.08,181.77,9.42,54.37,153.52,...,7.36,3.98,1.47,42.68,0.96,40.92,37.25,3.66,21.86,6.23
59,CB,F,3,17.01,163.12,198.18,402.82,14.93,114.51,377.26,...,47.26,17.49,13.26,65.40,5.25,85.04,82.17,2.87,32.57,3.37
68,CC,F,3,6.35,122.41,149.58,211.11,16.06,75.48,183.58,...,26.71,10.54,6.91,18.94,1.91,31.73,29.66,2.08,6.82,2.52
77,CD,F,3,5.79,93.06,118.68,177.08,11.26,75.51,160.39,...,27.46,9.48,3.72,18.61,1.07,28.94,28.20,0.73,9.13,2.45
86,DA,F,3,8.13,202.93,114.99,239.85,8.52,61.55,211.85,...,18.90,6.54,5.80,23.54,0.86,40.66,37.95,2.70,13.87,11.51

In [14]:
ch83dg.to_csv(f"./cleaned_data/ch83dg.csv")
ch83m.to_csv(f"./cleaned_data/ch83m.csv")
ch83pru.to_csv(f"./cleaned_data/ch83pru.csv")
ch83q.to_csv(f"./cleaned_data/ch83q.csv")
ch89dg.to_csv(f"./cleaned_data/ch89dg.csv")
ch89m.to_csv(f"./cleaned_data/ch89m.csv")
ch89pru.to_csv(f"./cleaned_data/ch89pru.csv")
ch89q.to_csv(f"./cleaned_data/ch89q.csv")
ch93pru.to_csv(f"./cleaned_data/ch93pru.csv")
ch93q.to_csv(f"./cleaned_data/ch93q.csv")
chtaim.to_csv(f"./cleaned_data/chtaim.csv")
chtaipru.to_csv(f"./cleaned_data/chtaipru.csv")
chtaiq.to_csv(f"./cleaned_data/chtaiq.csv")

In [15]:
ch89q

,county,sex,xiang,q001,q002,q003,q004,q005,q006,q007,...,q238,q239,q240,q241,q242,q243,q244,q245,q246,q247
0,AA,M,1,NaN,NaN,NaN,NaN,3.3,0.0,NaN,...,NaN,NaN,NaN,NaN,33.8,1.13,1.42,1.05,16.6,1.03
1,AA,M,2,NaN,NaN,NaN,NaN,3.3,0.0,NaN,...,NaN,NaN,NaN,NaN,29.6,1.09,1.36,1.05,15.7,0.99
2,AA,M,3,NaN,NaN,NaN,NaN,3.3,0.0,NaN,...,NaN,NaN,NaN,NaN,31.7,1.11,1.39,1.05,16.2,1.01
3,AA,F,1,NaN,NaN,NaN,NaN,10.0,0.0,NaN,...,11.5,92.3,88.5,3.8,31.8,1.08,1.41,1.04,15.9,0.99
4,AA,F,2,NaN,NaN,NaN,NaN,12.5,0.0,NaN,...,12.0,88.0,80.0,6.0,28.5,1.04,1.34,1.03,15.4,0.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,YA,F,2,NaN,NaN,NaN,NaN,16.7,0.0,NaN,...,0.6,99.3,18.8,1.3,NaN,NaN,NaN,NaN,NaN,NaN
617,YA,F,3,NaN,NaN,NaN,NaN,13.3,0.0,NaN,...,6.5,97.2,25.7,3.1,30.5,1.03,1.31,0.97,17.6,1.09
618,YA,T,1,1.89,6.0,0.5,315.0,NaN,NaN,5.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,YA,T,2,1.40,7.0,0.4,201.0,NaN,NaN,5.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
620,YA,T,3,1.60,7.0,0.5,258.0,20.9,0.0,5.6,...,NaN,NaN,NaN,NaN,30.7,1.04,1.31,0.97,17.7,1.09

#####