In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
ch89dg = pd.read_csv('./data/CH89DG.csv')

In [3]:
ch89dg

,County,Sex,Xiang,D001,D002,D003,D004,D005,D006,D007,...,D158,D159,D160,D161,G001,G002,G003,G004,G005,
0,AA,M,1,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,NaN
1,AA,M,2,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,NaN
2,AA,M,3,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,NaN
3,AA,F,1,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,NaN
4,AA,F,2,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,YA,F,2,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,NaN
617,YA,F,3,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,NaN
618,YA,T,1,2111,61.0,70.6,318,25.9,13.4,4.9,...,0.001,0.002,0.001,0.043,.,.,.,.,.,NaN
619,YA,T,2,1872,45.5,63.7,300,22.0,13.9,4.7,...,0.001,0.002,0.001,0.044,.,.,.,.,.,NaN
620,YA,T,3,1992,53.3,67.2,309,23.9,13.7,4.8,...,0.001,0.002,0.001,0.043,42.4,113.9,1000,3,2,NaN

EDA ideas:

smoking and respiratory questionaire results

cancer and food consumption

infections and income

all vascular disease mortality and food consumption

liver disease and alcohol