In [6]:
import numpy as np
import pandas as pd
import re
from glob import glob
import pandas as pd

[loading file paths source](https://www.youtube.com/watch?v=kem2y-SawPw)

In [21]:
files = glob('./cleaned_data/*.csv')

In [24]:
a =re.match('(?<=\./cleaned_data/).*$',files[0])

In [13]:
for i in files:
    exec(" (i,pd.read_csv(files[i])))

                              0
0      ./cleaned_data/ch89q.csv
1      ./cleaned_data/ch93q.csv
2      ./cleaned_data/ch83q.csv
3   ./cleaned_data/chtaipru.csv
4     ./cleaned_data/ch89dg.csv
5     ./cleaned_data/chtaiq.csv
6      ./cleaned_data/ch83m.csv
7    ./cleaned_data/ch93pru.csv
8     ./cleaned_data/chtaim.csv
9    ./cleaned_data/ch83pru.csv
10    ./cleaned_data/ch83dg.csv
11     ./cleaned_data/ch89m.csv
12   ./cleaned_data/ch89pru.csv

In [4]:
ch89dg = pd.read_csv('./cleaned_data/CH89DG.csv')

In [5]:
ch89dg

,Unnamed: 0,county,sex,xiang,d001,d002,d003,d004,d005,d006,...,d157,d158,d159,d160,d161,g001,g002,g003,g004,g005
0,6,AA,T,1,2678.0,87.2,65.8,397.0,29.8,9.9,...,0.519,0.011,0.017,0.013,0.052,NaN,NaN,NaN,NaN,NaN
1,7,AA,T,2,2637.0,69.8,65.0,432.0,23.2,9.8,...,0.466,0.021,0.027,0.017,0.024,NaN,NaN,NaN,NaN,NaN
2,8,AA,T,3,2658.0,78.5,65.4,415.0,26.5,9.9,...,0.493,0.016,0.022,0.015,0.038,31.1,121.4,50.0,1.0,4.0
3,15,AB,T,1,2633.0,64.8,64.7,440.0,21.9,10.0,...,0.397,0.013,0.013,0.014,0.043,NaN,NaN,NaN,NaN,NaN
4,16,AB,T,2,2788.0,65.1,67.2,479.0,20.9,9.7,...,0.413,0.024,0.026,0.005,0.014,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,610,XB,T,2,2472.0,20.9,66.0,505.0,7.6,10.7,...,0.377,0.001,0.001,0.001,0.001,NaN,NaN,NaN,NaN,NaN
202,611,XB,T,3,2862.0,23.9,76.5,586.0,7.6,10.7,...,0.379,0.001,0.001,0.001,0.001,35.6,106.1,1750.0,3.0,3.0
203,618,YA,T,1,2111.0,61.0,70.6,318.0,25.9,13.4,...,3.249,0.001,0.002,0.001,0.043,NaN,NaN,NaN,NaN,NaN
204,619,YA,T,2,1872.0,45.5,63.7,300.0,22.0,13.9,...,0.778,0.001,0.002,0.001,0.044,NaN,NaN,NaN,NaN,NaN
205,620,YA,T,3,1992.0,53.3,67.2,309.0,23.9,13.7,...,2.014,0.001,0.002,0.001,0.043,42.4,113.9,1000.0,3.0,2.0

EDA ideas:

smoking and respiratory questionaire results

cancer and food consumption

infections and income

all vascular disease mortality and food consumption

liver disease and alcohol

In [ ]:
pd.rea