###### ideas brainstorming

idea: streamlit app giving probabilistic health outcomes

###### Imports and read in data

In [4]:
import numpy as np
import pandas as pd
import re
from glob import glob
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

[loading file paths source](https://www.youtube.com/watch?v=kem2y-SawPw)

In [5]:
ch83dg = pd.read_csv('../cleaned_data/ch83dg.csv')
ch83m = pd.read_csv('../cleaned_data/ch83m.csv')
ch83pru = pd.read_csv('../cleaned_data/ch83pru.csv')
ch83q = pd.read_csv('../cleaned_data/ch83q.csv')
ch89dg = pd.read_csv('../cleaned_data/CH89DG.csv')
ch89m = pd.read_csv('../cleaned_data/ch89m.csv')
ch89pru = pd.read_csv('../cleaned_data/ch89pru.csv')
ch89q = pd.read_csv('../cleaned_data/ch89q.csv')
ch93pru = pd.read_csv('../cleaned_data/ch93pru.csv')
ch93q = pd.read_csv('../cleaned_data/ch93q.csv')
chtaim = pd.read_csv('../cleaned_data/chtaim.csv')
chtaipru = pd.read_csv('../cleaned_data/chtaipru.csv')
chtaiq = pd.read_csv('../cleaned_data/chtaiq.csv')

###### renaming mortality columns to be more descriptive

In [6]:
# all the descriptive columns for ch89m

mortality_cols_descriptive = \
['ALL0_4','ALL5_14','ALL15_34','ALL0_34','ALL35_69','ALL70_79','MEDICALb', 'MEDICALc',
'NONMEDb', 'NONMEDc', 'INFECTb', 'INFECTc', 'INTESTINb', 'INTESTINc','PULMTBb',
'PULMTBc', 'OTHERTBb', 'OTHERTBc', 'VIRALHEPb', 'VIRALHEPc', 'SCHISTOc', 'ALLCAb', 
'ALLCAc', 'MOUTHCAc', 'NASOPCAc', 'NPConlyc', 'OESOPHCAc', 'OESOPHCAc', 'COLRECCAc', 'LIVERCAb', 
'LIVERCAc', 'PANCRSCAc', 'BLADDCAc', 'LARYNXCAc', 'LUNGCAmc', 'LUNGCAfc', 'BREASTCAc', 'CERVIXCAc', 
'BRAINCAc', 'LYMPHOMAc', 'LEUKEMIAb', 'LEUKEMIAc', 'ENDOCRINb', 'ENDOCRINc', 'DIABETESc', 'MALNUTRIb', 
'MALNUTRIc', 'BLOODb', 'BLOODc', 'MENTALb', 'MENTALc', 'NERVOUSb', 'NERVOUSc', 'MENINGITb', 'MENINGITc', 
'EPILEPSYb', 'EPILEPSYc', 'ALLVASCb', 'ALLVASCc', 'RHEUMHDb', 'RHEUMHDc', 'HYPTENSc', 'IHDc', 'STROKEb', 'STROKEc',
'VASC_STRb', 'VASC-STRc', 'ALLRESPb', 'ALLRESPc', 'PNEUMONb', 'PNEUMONc', 'COPDc', 'DIGESTIVb', 'DIGESTIVc',
'PEPULCERc', 'ENTCOLc', 'INTESTOBc', 'CIRRHOSb', 'CIRRHOSc', 'TOTLIVRb', 'TOTLIVRc', 'GALLBILc', 'GENITURc',
'GENITURmc', 'GENITURfc', 'RENALc', 'PREGBRTHb', 'PREGBRTHc', 'ALLSKINc', 'MUSCSKELc', 'ILL_DEFb', 'ILL_DEFc',
'ACCIDENTb', 'ACCIDENTc', 'ROADACCb', 'ROADACCc', 'DROWNb', 'DROWNc', 'SUICIDEb', 'SUICIDEc', 'HOMICIDEb',
'HOMICIDEc', 'INFANT', 'MATERNAL', 'ALLCUMa', 'MEDICALa', 'NONMEDa', 'RESPINFa', 'ALLGIa', 'CONGENITa', 
'NTDa', 'CONGENHDa', 'PERINATa', 'LOWBTHWTa', 'BTHTRAUMa', 'RDSa', 'NEOTETANa', 'MALNUTRIa', 'DROWNa'
]

In [7]:
cols_0_3 = ch89m.columns[0:4]

In [8]:
new_cols = list(cols_0_3) + list(mortality_cols_descriptive)

[concatenate elementwise](https://stackoverflow.com/questions/51482134/concatenate-zipped-values-in-python)

In [9]:
new_cols[4:] = [f'{code}_{descr}' for code, descr in \
                zip(ch89m.columns.values[4:], mortality_cols_descriptive)]

In [10]:
ch83m

,Unnamed: 0,county,sex,xiang,m001,m002,m003,m004,m005,m006,...,m086,m087,m088,m103,m104,m105,m106,m107,m113,m117
0,2,AA,M,3,3.67,72.03,124.01,143.89,14.87,97.10,...,15.59,NaN,NaN,14.44,NaN,18.36,10.61,7.75,4.13,0.00
1,5,AA,F,3,3.20,42.49,74.48,100.46,7.67,59.48,...,12.62,1.00,0.00,12.64,0.31,16.02,9.71,6.30,4.73,0.09
2,8,AA,T,3,3.44,57.26,99.25,122.17,11.27,78.29,...,14.11,NaN,NaN,13.54,NaN,17.19,10.16,7.03,4.43,0.04
3,11,AB,M,3,5.01,67.69,138.61,170.09,16.66,110.54,...,21.42,NaN,NaN,13.81,NaN,25.04,14.33,10.71,3.97,0.00
4,14,AB,F,3,3.84,51.36,101.97,127.78,8.83,65.11,...,19.69,1.75,0.40,11.57,0.37,19.19,11.97,7.22,3.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,608,XB,F,3,25.79,182.44,286.46,584.29,17.23,106.26,...,23.47,16.83,23.13,74.49,2.82,128.97,121.10,7.87,46.54,23.43
203,611,XB,T,3,27.24,205.87,265.10,599.48,18.75,123.89,...,40.98,NaN,NaN,80.83,NaN,136.22,128.62,7.60,49.30,23.43
204,614,YA,M,3,16.37,105.44,136.85,342.13,19.35,81.86,...,34.04,NaN,NaN,58.34,NaN,81.83,78.47,3.36,25.43,7.34
205,617,YA,F,3,12.38,88.46,149.67,287.72,15.81,65.08,...,21.45,15.98,18.25,45.11,3.55,61.92,59.29,2.63,18.20,4.83
206,620,YA,T,3,14.38,96.95,143.26,314.93,17.58,73.47,...,27.75,NaN,NaN,51.73,NaN,71.88,68.88,3.00,21.82,6.08

In [11]:
mortality_renaming = dict(zip(ch89m.columns.values,new_cols))

In [12]:
mortality_renaming

{'Unnamed: 0': 'Unnamed: 0',
 'county': 'county',
 'sex': 'sex',
 'xiang': 'xiang',
 'm001': 'm001_ALL0_4',
 'm002': 'm002_ALL5_14',
 'm003': 'm003_ALL15_34',
 'm004': 'm004_ALL0_34',
 'm005': 'm005_ALL35_69',
 'm006': 'm006_ALL70_79',
 'm007': 'm007_MEDICALb',
 'm008': 'm008_MEDICALc',
 'm009': 'm009_NONMEDb',
 'm010': 'm010_NONMEDc',
 'm011': 'm011_INFECTb',
 'm012': 'm012_INFECTc',
 'm013': 'm013_INTESTINb',
 'm014': 'm014_INTESTINc',
 'm015': 'm015_PULMTBb',
 'm016': 'm016_PULMTBc',
 'm017': 'm017_OTHERTBb',
 'm018': 'm018_OTHERTBc',
 'm019': 'm019_VIRALHEPb',
 'm020': 'm020_VIRALHEPc',
 'm021': 'm021_SCHISTOc',
 'm022': 'm022_ALLCAb',
 'm023': 'm023_ALLCAc',
 'm024': 'm024_MOUTHCAc',
 'm025': 'm025_NASOPCAc',
 'm026': 'm026_NPConlyc',
 'm027': 'm027_OESOPHCAc',
 'm028': 'm028_OESOPHCAc',
 'm029': 'm029_COLRECCAc',
 'm030': 'm030_LIVERCAb',
 'm031': 'm031_LIVERCAc',
 'm032': 'm032_PANCRSCAc',
 'm033': 'm033_BLADDCAc',
 'm034': 'm034_LARYNXCAc',
 'm035': 'm035_LUNGCAmc',
 'm036': 'm036_LUNGCAfc',
 'm037': 'm037_BREASTCAc',
 'm038': 'm038_CERVIXCAc',
 'm039': 'm039_BRAINCAc',
 'm040': 'm040_LYMPHOMAc',
 'm041': 'm041_LEUKEMIAb',
 'm042': 'm042_LEUKEMIAc',
 'm043': 'm043_ENDOCRINb',
 'm044': 'm044_ENDOCRINc',
 'm045': 'm045_DIABETESc',
 'm046': 'm046_MALNUTRIb',
 'm047': 'm047_MALNUTRIc',
 'm048': 'm048_BLOODb',
 'm049': 'm049_BLOODc',
 'm050': 'm050_MENTALb',
 'm051': 'm051_MENTALc',
 'm052': 'm052_NERVOUSb',
 'm053': 'm053_NERVOUSc',
 'm054': 'm054_MENINGITb',
 'm055': 'm055_MENINGITc',
 'm056': 'm056_EPILEPSYb',
 'm057': 'm057_EPILEPSYc',
 'm058': 'm058_ALLVASCb',
 'm059': 'm059_ALLVASCc',
 'm060': 'm060_RHEUMHDb',
 'm061': 'm061_RHEUMHDc',
 'm062': 'm062_HYPTENSc',
 'm063': 'm063_IHDc',
 'm064': 'm064_STROKEb',
 'm065': 'm065_STROKEc',
 'm066': 'm066_VASC_STRb',
 'm067': 'm067_VASC-STRc',
 'm068': 'm068_ALLRESPb',
 'm069': 'm069_ALLRESPc',
 'm070': 'm070_PNEUMONb',
 'm071': 'm071_PNEUMONc',
 'm072': 'm072_COPDc',
 'm073': 'm073_DIGESTIVb',
 'm074': 'm074_DIGESTIVc',
 'm075': 'm075_PEPULCERc',
 'm076': 'm076_ENTCOLc',
 'm077': 'm077_INTESTOBc',
 'm078': 'm078_CIRRHOSb',
 'm079': 'm079_CIRRHOSc',
 'm080': 'm080_TOTLIVRb',
 'm081': 'm081_TOTLIVRc',
 'm082': 'm082_GALLBILc',
 'm083': 'm083_GENITURc',
 'm084': 'm084_GENITURmc',
 'm085': 'm085_GENITURfc',
 'm086': 'm086_RENALc',
 'm087': 'm087_PREGBRTHb',
 'm088': 'm088_PREGBRTHc',
 'm089': 'm089_ALLSKINc',
 'm090': 'm090_MUSCSKELc',
 'm091': 'm091_ILL_DEFb',
 'm092': 'm092_ILL_DEFc',
 'm093': 'm093_ACCIDENTb',
 'm094': 'm094_ACCIDENTc',
 'm095': 'm095_ROADACCb',
 'm096': 'm096_ROADACCc',
 'm097': 'm097_DROWNb',
 'm098': 'm098_DROWNc',
 'm099': 'm099_SUICIDEb',
 'm100': 'm100_SUICIDEc',
 'm101': 'm101_HOMICIDEb',
 'm102': 'm102_HOMICIDEc',
 'm103': 'm103_INFANT',
 'm104': 'm104_MATERNAL',
 'm105': 'm105_ALLCUMa',
 'm106': 'm106_MEDICALa',
 'm107': 'm107_NONMEDa',
 'm108': 'm108_RESPINFa',
 'm109': 'm109_ALLGIa',
 'm110': 'm110_CONGENITa',
 'm111': 'm111_NTDa',
 'm112': 'm112_CONGENHDa',
 'm113': 'm113_PERINATa',
 'm114': 'm114_LOWBTHWTa',
 'm115': 'm115_BTHTRAUMa',
 'm116': 'm116_RDSa',
 'm117': 'm117_NEOTETANa',
 'm118': 'm118_MALNUTRIa',
 'm119': 'm119_DROWNa'}

In [13]:
# rename mortality 

ch83m.rename(mapper = mortality_renaming, axis = 1, inplace=True)
ch89m.rename(mapper = mortality_renaming, axis = 1, inplace=True)
chtaim.rename(mapper = mortality_renaming, axis = 1, inplace=True)

In [14]:
ch89m

,Unnamed: 0,county,sex,xiang,m001_ALL0_4,m002_ALL5_14,m003_ALL15_34,m004_ALL0_34,m005_ALL35_69,m006_ALL70_79,...,m110_CONGENITa,m111_NTDa,m112_CONGENHDa,m113_PERINATa,m114_LOWBTHWTa,m115_BTHTRAUMa,m116_RDSa,m117_NEOTETANa,m118_MALNUTRIa,m119_DROWNa
0,2,AA,M,3,4.39,74.75,89.04,134.95,15.08,104.05,...,3.84,0.46,1.84,7.83,2.61,2.00,0.77,0.00,0.00,4.61
1,5,AA,F,3,2.83,68.53,60.71,94.76,7.49,50.53,...,2.68,0.31,0.63,6.14,1.89,2.05,0.31,0.00,0.00,1.57
2,8,AA,T,3,3.61,71.64,74.88,114.86,11.29,77.29,...,3.26,0.39,1.24,6.99,2.25,2.02,0.54,0.00,0.00,3.09
3,11,AB,M,3,4.07,43.33,94.72,124.64,15.37,92.53,...,3.31,0.50,1.82,9.60,4.47,0.83,0.66,0.00,0.00,3.47
4,14,AB,F,3,3.20,32.98,77.51,99.40,8.27,57.23,...,3.69,0.70,2.11,6.33,3.16,0.18,1.41,0.00,0.00,2.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,608,XB,F,3,17.07,91.35,259.99,418.57,13.94,126.59,...,4.21,1.40,0.18,49.43,4.56,31.38,8.59,0.00,0.53,0.35
197,611,XB,T,3,16.41,85.92,254.12,404.19,18.88,140.51,...,3.88,1.15,0.62,46.26,3.52,28.02,9.09,0.09,0.62,0.17
198,614,YA,M,3,3.82,167.69,131.09,177.34,24.37,58.51,...,0.00,0.00,0.00,2.12,0.00,0.00,0.00,0.00,0.00,0.00
199,617,YA,F,3,3.45,134.49,77.99,132.34,11.52,39.98,...,0.00,0.00,0.00,1.92,0.00,0.00,0.00,0.00,0.00,0.00
200,620,YA,T,3,3.64,151.09,104.54,154.84,17.95,49.24,...,0.00,0.00,0.00,2.02,0.00,0.00,0.00,0.00,0.00,0.00

In [15]:
ch83m.drop('Unnamed: 0', axis = 1, inplace=True)
ch89m.drop('Unnamed: 0', axis = 1, inplace=True)
chtaim.drop('Unnamed: 0', axis = 1, inplace=True)

In [16]:
chtaim

,county,sex,xiang,m001_ALL0_4,m002_ALL5_14,m003_ALL15_34,m004_ALL0_34,m005_ALL35_69,m006_ALL70_79,m007_MEDICALb,...,m110_CONGENITa,m111_NTDa,m112_CONGENHDa,m113_PERINATa,m114_LOWBTHWTa,m115_BTHTRAUMa,m116_RDSa,m117_NEOTETANa,m118_MALNUTRIa,m119_DROWNa
0,ZA,M,3,1.47,32.93,126.73,102.77,9.70,50.75,45.37,...,2.05,0.18,1.33,1.01,0.43,0.06,0.12,0.0,0.01,0.24
1,ZA,F,3,1.28,20.17,56.51,56.34,6.23,42.35,35.02,...,1.83,0.15,1.05,0.95,0.45,0.06,0.14,0.0,0.00,0.11
2,ZA,T,3,1.38,26.55,91.62,79.56,7.96,46.55,40.20,...,1.94,0.17,1.19,0.98,0.44,0.06,0.13,0.0,0.01,0.17
3,ZB,M,3,1.80,42.42,146.06,121.35,11.21,58.36,50.72,...,2.03,0.14,1.34,1.42,0.78,0.03,0.21,0.0,0.00,0.42
4,ZB,F,3,1.49,22.27,62.24,63.18,7.46,46.53,38.81,...,1.79,0.20,1.25,1.34,0.77,0.07,0.13,0.0,0.00,0.26
5,ZB,T,3,1.65,32.34,104.15,92.27,9.34,52.45,44.77,...,1.91,0.17,1.30,1.38,0.78,0.05,0.17,0.0,0.00,0.34
6,ZC,M,3,1.77,41.51,144.27,119.54,10.92,61.29,48.01,...,1.98,0.20,1.27,1.29,0.58,0.07,0.21,0.0,0.00,0.71
7,ZC,F,3,1.43,27.36,64.83,65.30,7.05,45.49,37.68,...,1.93,0.15,1.18,1.24,0.74,0.03,0.16,0.0,0.02,0.28
8,ZC,T,3,1.60,34.44,104.55,92.42,8.98,53.39,42.84,...,1.96,0.18,1.23,1.27,0.66,0.05,0.18,0.0,0.01,0.49
9,ZD,M,3,2.86,65.84,201.97,175.04,9.97,51.76,65.93,...,1.68,0.21,0.42,3.57,2.31,0.21,0.42,0.0,0.00,1.26
10,ZD,F,3,2.13,61.44,93.88,101.68,7.08,48.88,54.67,...,2.55,0.23,1.16,2.32,1.16,0.00,0.46,0.0,0.00,0.00
11,ZD,T,3,2.50,63.64,147.93,138.36,8.53,50.32,60.30,...,2.11,0.22,0.79,2.94,1.74,0.10,0.44,0.0,0.00,0.63
12,ZE,M,3,2.20,64.69,179.04,152.25,10.52,57.93,61.78,...,2.20,0.83,0.55,2.75,0.55,0.00,0.83,0.0,0.00,1.38
13,ZE,F,3,2.19,39.69,94.27,96.53,7.19,39.24,57.02,...,3.56,0.00,2.67,1.19,0.30,0.00,0.59,0.0,0.00,0.89
14,ZE,T,3,2.20,52.19,136.66,124.39,8.86,48.59,59.40,...,2.88,0.41,1.61,1.97,0.43,0.00,0.71,0.0,0.00,1.14
15,ZF,M,3,2.80,41.52,215.79,175.22,16.63,83.39,85.88,...,3.23,0.36,2.88,3.23,1.44,0.00,0.72,0.0,0.00,0.72
16,ZF,F,3,3.39,33.71,68.79,97.32,11.43,67.83,65.03,...,3.81,0.42,2.12,1.69,1.69,0.00,0.00,0.0,0.00,1.27
17,ZF,T,3,3.10,37.62,142.29,136.27,14.03,75.61,75.45,...,3.52,0.39,2.50,2.46,1.56,0.00,0.36,0.0,0.00,0.99
18,ZG,M,3,2.60,68.00,182.06,160.66,12.38,63.15,89.94,...,2.32,0.46,1.39,4.18,1.39,0.46,1.86,0.0,0.00,1.39
19,ZG,F,3,1.92,43.11,92.67,92.72,6.44,40.44,60.88,...,3.54,1.01,1.01,1.52,0.51,0.00,0.00,0.0,0.00,0.00
20,ZG,T,3,2.26,55.55,137.37,126.69,9.41,51.80,75.41,...,2.93,0.73,1.20,2.85,0.95,0.23,0.93,0.0,0.00,0.69
21,ZH,M,3,4.39,150.79,682.51,495.74,22.32,77.09,177.90,...,1.69,0.42,0.84,1.69,0.84,0.00,0.00,0.0,0.42,5.06
22,ZH,F,3,6.21,99.80,291.12,283.52,12.41,59.12,141.10,...,5.56,0.46,3.24,4.63,1.85,0.93,0.46,0.0,0.46,2.32
23,ZH,T,3,5.30,125.30,486.81,389.63,17.37,68.11,159.50,...,3.63,0.44,2.04,3.16,1.34,0.47,0.23,0.0,0.44,3.69
24,ZI,M,3,4.84,44.92,628.41,441.11,24.50,75.22,170.84,...,2.20,1.10,0.00,2.75,1.10,0.00,0.00,0.0,0.00,2.75
25,ZI,F,3,4.03,65.28,257.18,223.15,15.96,61.62,118.68,...,3.55,0.00,2.96,2.96,0.59,0.00,1.18,0.0,0.59,0.59
26,ZI,T,3,4.44,55.10,442.80,332.13,20.23,68.42,144.76,...,2.88,0.55,1.48,2.85,0.85,0.00,0.59,0.0,0.29,1.67
27,ZJ,M,3,3.39,123.53,507.78,373.88,23.89,72.12,148.51,...,1.36,0.00,0.68,2.03,0.68,0.00,0.68,0.0,0.00,2.71
28,ZJ,F,3,2.78,74.99,139.88,141.05,14.28,68.47,79.89,...,0.82,0.00,0.82,1.63,0.82,0.00,0.82,0.0,0.00,2.45
29,ZJ,T,3,3.08,99.26,323.83,257.47,19.09,70.30,114.20,...,1.09,0.00,0.75,1.83,0.75,0.00,0.75,0.0,0.00,2.58
30,ZK,M,3,2.59,68.67,212.17,177.89,12.81,64.08,64.73,...,2.78,0.38,1.71,1.77,0.63,0.06,0.63,0.0,0.00,1.45
31,ZK,F,3,2.02,41.66,92.46,93.64,7.18,48.12,53.54,...,2.70,0.40,1.21,1.48,0.74,0.13,0.13,0.0,0.07,0.40
32,ZK,T,3,2.31,55.16,152.31,135.76,10.00,56.10,59.14,...,2.74,0.39,1.46,1.63,0.69,0.10,0.38,0.0,0.04,0.93
33,ZL,M,3,2.43,65.47,183.47,158.20,12.77,65.36,59.48,...,2.22,0.20,1.60,1.21,0.36,0.07,0.26,0.0,0.00,1.96
34,ZL,F,3,2.07,34.71,72.70,81.04,7.57,52.33,47.31,...,1.92,0.21,1.15,1.40,0.66,0.07,0.24,0.0,0.00,0.80
35,ZL,T,3,2.25,50.09,128.09,119.62,10.17,58.84,53.40,...,2.07,0.21,1.38,1.30,0.51,0.07,0.25,0.0,0.00,1.38
36,ZM,M,3,3.57,76.26,358.08,277.34,17.08,67.88,78.01,...,2.45,0.00,2.10,2.10,0.70,0.00,0.00,0.0,0.00,2.10
37,ZM,F,3,3.58,49.71,145.26,148.38,10.85,61.15,80.97,...,6.10,0.00,2.67,2.29,1.14,0.00,0.76,0.0,0.00,1.52
38,ZM,T,3,3.58,62.99,251.67,212.86,13.96,64.52,79.49,...,4.28,0.00,2.39,2.20,0.92,0.00,0.38,0.0,0.00,1.81
39,ZN,M,3,2.35,53.98,183.17,153.67,12.29,60.58,55.65,...,2.16,0.48,0.72,2.88,0.72,0.24,0.00,0.0,0.00,1.44
40,ZN,F,3,2.22,30.69,76.39,84.15,8.17,50.48,51.86,...,2.92,0.58,2.05,2.63,0.88,0.58,0.29,0.0,0.00,0.29
41,ZN,T,3,2.29,42.34,129.78,118.91,10.23,55.53,53.76,...,2.54,0.53,1.39,2.75,0.80,0.41,0.14,0.0,0.00,0.86
42,ZO,M,3,2.31,55.80,177.54,150.38,12.51,72.07,57.55,...,2.84,0.18,1.98,1.13,0.36,0.05,0.14,0.0,0.00,1.13
43,ZO,F,3,1.79,34.66,65.71,72.98,6.84,49.97,41.69,...,1.95,0.14,1.28,0.76,0.24,0.00,0.14,0.0,0.00,0.67
44,ZO,T,3,2.05,45.23,121.63,111.68,9.68,61.02,49.62,...,2.40,0.16,1.63,0.94,0.30,0.03,0.14,0.0,0.00,0.90
45,ZP,M,3,2.14,59.67,176.71,148.66,11.62,64.94,57.94,...,2.50,0.28,1.56,1.51,0.71,0.05,0.24,0.0,0.00,1.04
46,ZP,F,3,1.86,34.80,72.43,77.84,7.02,49.54,44.69,...,2.03,0.35,1.22,1.17,0.46,0.10,0.15,0.0,0.05,0.66
47,ZP,T,3,2.00,47.23,124.57,113.25,9.32,57.24,51.31,...,2.27,0.32,1.39,1.34,0.58,0.08,0.20,0.0,0.03,0.85

In [17]:
# export to cleaned_data_descriptive


ch89m['county'].fillna('NA', inplace=True) 
# ch89m had the county label "NA" replaced with NAN values 

ch83m.to_csv('./cleaned_data_descriptive/ch83m.csv',index=False)
ch89m.to_csv('./cleaned_data_descriptive/ch89m.csv')
chtaim.to_csv('./cleaned_data_descriptive/chtaim.csv')

OSError: Cannot save file into a non-existent directory: 'cleaned_data_descriptive'

###### general EDA ideas

EDA ideas:

smoking and respiratory questionaire results

cancer and food consumption

infections and income

all vascular disease mortality and food consumption

liver disease and alcohol

###### Mortality data EDA

In [ ]:
ch89m.shape, ch83m.shape, chtaim.shape

# there are more mortality features in 
# ch89m than in ch83m. fewer observations in chtaim

In [ ]:
chtaim.loc[:,'county'].nunique()
# there are only 16 counties in the taiwan mortality data

In [ ]:
ch89m.loc[:,'county'].nunique() # 66 counties

In [ ]:
ch83m.loc[:,'county'].nunique() # 68 counties

In [ ]:
ch83m.head()

I will inspect the mortality dataframe.

In [ ]:
ch83m.loc[:,"county"].isna()==1

In [ ]:
list(ch83m[ch83m.loc[:,"county"].isna()==1].index.values)

In [ ]:
# county with name NA was made into a nan value durring data cleaning,
# and so I am manually updating the value
ch83m.loc[ch83m[ch83m.loc[:,"county"].isna()==1].index.values,'county'] = "NA"

The data are in floating point numbers and there are 68 categories/subcategories of death attribution.

In [ ]:
ch83m.columns

In [ ]:
ch83m.shape

In [ ]:
# how many nan values?

plt.hist(ch83m.isna().sum().values, bins = 20)
plt.title('Mortality NaN Value Counts')
plt.xlabel('NaN counts')
plt.ylabel('frequency')
;

In [ ]:
sns.histplot(ch83m.isna().sum().values, bins = 100).set(
    title="Frequencies of NaN Counts", xlabel='NaN Counts', ylabel='Frequency');

In [ ]:
nan_dict = {'M':ch83m[ch83m['sex']=='M'].isna().sum(), 
            'F':ch83m[ch83m['sex']=='F'].isna().sum(), 
            'T':ch83m[ch83m['sex']=='T'].isna().sum()}
missing_vals = pd.DataFrame.from_dict(nan_dict)
missing_vals.head()

I'll check if missing values are consistent by sex. This [source](https://www.statology.org/pandas-check-if-multiple-columns-are-equal/) provided code.

In [ ]:
# I'll check if missing values are consistent my sex
missing_vals.eq(missing_vals.iloc[:, 0], axis=0).all(1).sum()

In [ ]:
# there are slightly more nan values for the male categories than female.
missing_vals.sum()

In [ ]:
ch89m_cols_descr = pd.Series(data=new_cols, name='ch89m_cols_descr')
ch89m_cols_descr.to_csv('./descriptive_columns/ch89m_cols_descr.csv')

There may be different age distributions between counties.  Not sure how to correct for this, get deaths per 100_000 of folks in that age band...

Now looking for the most prevalent **recorded** causes of mortality ...

In [ ]:
ch89m

In [ ]:
ch89m.isna().sum().sort_values(ascending=False)

In [ ]:
ch89m[ch89m['m001_ALL0_4'].isna()].isna().sum().sum()

In [ ]:
# filling m

What are the most significant causes of death?

In [ ]:
ch89m.describe().loc['mean',:].sort_values(ascending=False)[0:20]

Is there a difference between male and female mortality rates?

In [ ]:
import seaborn as sns

In [ ]:
ch89m[ch89m['sex']=='F']['county'].str[0].nunique()
# there are 25 unique provinces

In [ ]:
fig,ax = plt.subplots()
f = ch89m[ch89m['sex']=='F']['m005_ALL35_69']
m = ch89m[ch89m['sex']=='M']['m005_ALL35_69']
# plt.scatter(f,m)
ax.set(xlim=(5, 27.5), ylim=(10, 32.5))
plt.plot([0,35],[0,35])
plt.scatter(x = f, y = m, alpha = .2, s=15)
for i, county in enumerate(ch89m[ch89m['sex']=='F']['county'].str[0]):
    plt.annotate(county, (f[f.index[i]],m[m.index[i]]), fontsize = 7)
ax.set(title = 'Mortality Rate Ages 35-69 per 1,000 by Sex & Province', 
       xlabel = 'Female Mortality', ylabel='Male Mortality')

In [ ]:
fig,ax = plt.subplots()
f = ch89m[ch89m['sex']=='F']['m001_ALL0_4']
m = ch89m[ch89m['sex']=='M']['m001_ALL0_4']
# plt.scatter(f,m)
ax.set(xlim=(2, 17.5), ylim=(2, 17.5))
plt.plot([0,35],[0,35])
plt.scatter(x = f, y = m, alpha = .2, s=15)
for i, county in enumerate(ch89m[ch89m['sex']=='F']['county'].str[0]):
    plt.annotate(county, (f[f.index[i]],m[m.index[i]]))
ax.set(title = 'Mortality Rate Ages 0-4 per 1,000 by Sex & Province', xlabel = 'Female Mort.', ylabel='Male Mort.')

In [ ]:
ch89m.iloc[:,3:].corr().head()

In [ ]:
cutoffs = np.array([5,15,35,70,80])
age = 69
durations = np.array([5,10,20,35,10])
print((age >= cutoffs) * durations
)
(age >= cutoffs) * durations
rates = .1,.2,.3,.4

In [ ]:
sum(np.array([5,10,20,35,10]))

M002 ALL5-14    mortality ALL CAUSES AGE 5-14 (stand. rate/100,000)                                                            
M003 ALL15-34   mortality ALL CAUSES AGE 15-34 (stand. rate/100,000)                                                         
M004 ALL0-34    mortality ALL CAUSES AGE 0-34 (stand. rate/100,000)                                                          
M005 ALL35-69   mortality ALL CAUSES AGE 35-69 (stand. rate/1,000)                                 
M006 ALL70-79   mortality ALL CAUSES AGE 70-79 (stand. rate/1,000)

In [ ]:
def survival(table, county, sex, age):
    '''return the survival probability for a given sex, county, and age with age < 79
    'm001_ALL0_4' for all 
    '''
    
    m_0_4 = table.loc[(table['county'] == county) & 
                      (table['sex'] == sex),'m001_ALL0_4']
    m_5_14 = table.loc[(table['county'] == county) &  
                       (table['sex'] == sex),'m002_ALL5_14']
    m_15_34 = table.loc[(table['county'] == county) & 
                        (table['sex'] == sex),'m003_ALL15_34']
    m_35_69 = table.loc[(table['county'] == county) & 
                        (table['sex'] == sex),'m005_ALL35_69']
    m_70_79 = table.loc[(table['county'] == county) & 
                        (table['sex'] == sex),'m006_ALL70_79']
    
    s = 1- np.array([m_0_4/1_000, m_5_14/100_000, m_15_34/100_000, 
                  m_35_69/1_000, m_70_79/1_000]) # survival rates 
    s = s.reshape(5,)

    c = np.array([5,15,35,70,80]) # cutoffs of survival periods
    d = np.array([5,10,20,35,10]) # durations of survival periods
    c_shifted = np.array([0,5,15,35,70,80])
    
    if age > 80:
        return np.prod(np.power(s,d))*(s[-1])**(age-80)
    
    f_b = np.argmin((age >= c)) # final bin
    
    remainder_years = age-c_shifted[f_b]
    
    #probability of survival for whole durations ()
    bands = np.multiply((age >= c),durations)
    print(f'a_b_boolean: {bands}, type: {type(bands)}')
    s_exp_b = np.power(s,bands)
    
    s_w = np.prod(s_exp_b) 
    print(f's_w: {s_w}')
    # survival probability remainder duration
    s_r = s[f_b]**(remainder_years)
    print(f's_r: {s_r}')
    return s_r*s_w

# return np.prod(np.power((1-mort_rates),((age >= cutoffs) * durations)))*\
#     (1-mort_rates[np.argmin((age >= cutoffs))[0]])**(age-cutoffs[np.argmin((age >= cutoffs))[0]])

In [ ]:
surv_probs = []
for i in np.linspace(0,80,81):
    surv_probs.append()

###### debugging survival function

In [ ]:
sex = 'T'
county = 'AA'
m_0_4 = ch89m.loc[(ch89m['county'] == county) & 
                  (ch89m['sex'] == sex),'m001_ALL0_4']
m_5_14 = ch89m.loc[(ch89m['county'] == county) &  
                   (ch89m['sex'] == sex),'m002_ALL5_14']
m_15_34 = ch89m.loc[(ch89m['county'] == county) & 
                    (ch89m['sex'] == sex),'m003_ALL15_34']
m_35_69 = ch89m.loc[(ch89m['county'] == county) & 
                    (ch89m['sex'] == sex),'m005_ALL35_69']
m_70_79 = ch89m.loc[(ch89m['county'] == county) & 
                    (ch89m['sex'] == sex),'m006_ALL70_79']
age = 5
s = 1- np.array([m_0_4/1_000, m_5_14/100_000, m_15_34/100_000, 
              m_35_69/1_000, m_70_79/1_000]) # survival rates 
s = s.reshape(5,)
c = np.array([5,15,35,70,80]) # cutoffs of survival periods
d = np.array([5,10,20,35,10]) # durations of survival periods
c_shifted = np.array([0,5,15,35,70,80])
    
f_b = np.argmin((age >= c)) # final bin

remainder_years = age-c_shifted[f_b]

#probability of survival for whole durations ()
bands = np.multiply((age >= c),durations)
print(f'a_b_boolean: {bands}, type: {type(bands)}, shape: {(bands.shape)}')
s_exp_b = np.power(s,bands)
print(f's_exp_b:, {s_exp_b}, s_shape: {s.shape}, s: {s}')
s_w = np.prod(s_exp_b) 
print(s_w)

In [ ]:
m_0_4 = ch89m.loc[(ch89m['county'] == county) & 
                  (ch89m['sex'] == sex),'m001_ALL0_4']
m_5_14 = ch89m.loc[(ch89m['county'] == county) &  
                   (ch89m['sex'] == sex),'m002_ALL5_14']
m_15_34 = ch89m.loc[(ch89m['county'] == county) & 
                    (ch89m['sex'] == sex),'m003_ALL15_34']
m_35_69 = ch89m.loc[(ch89m['county'] == county) & 
                    (ch89m['sex'] == sex),'m005_ALL35_69']
m_70_79 = ch89m.loc[(ch89m['county'] == county) & 
                    (ch89m['sex'] == sex),'m006_ALL70_79']
age = 5
s = 1- np.array([m_0_4/1_000, m_5_14/100_000, m_15_34/100_000, 
              m_35_69/1_000, m_70_79/1_000]) # survival rates 
print(s.reshape(5,))

In [ ]:
ch89m[ch89m['county']=='AA']

survival(ch89m, 'AA', 'T', 3)

In [ ]:
np.prod(np.power(s,np.array([5, 0, 0, 0, 0])))

In [ ]:
print(np.array([1,2,3]))

In [ ]:
survival(ch89m, 'AA', 'T', 80)/survival(ch89m, 'AA', 'T', 70)

In [ ]:
survival(ch89m, 'AA', 'T', 45)/survival(ch89m, 'AA', 'T',44)

###### what are the most significant causes of death for those under 5?

In [ ]:
mortalities_0_4 = [col for col in ch89m.columns.values if col.endswith(('a'))]
mortalities_0_4
m0_4a = ch89m.loc[:,mortalities_0_4].describe().loc['mean'].sort_values(ascending = False)
m0_4a

In [ ]:
sns.barplot(x = m0_4a.values, y = m0_4a.index, color='lightblue').set(
title = 'Cumulative infant mortalities, avg by age 5 per 1,000 ',
xlabel = 'Avg cumulative mortalities by age 5 per 1000',
ylabel = 'Mortality identifier')

In [ ]:
fig,ax = plt.subplots()
f = ch89m[ch89m['sex']=='F']['m001_ALL0_4']
m = ch89m[ch89m['sex']=='M']['m001_ALL0_4']
# plt.scatter(f,m)
ax.set(xlim=(2, 17.5), ylim=(2, 17.5))
plt.plot([0,35],[0,35])
plt.scatter(x = f, y = m, alpha = .2, s=15)
for i, county in enumerate(ch89m[ch89m['sex']=='F']['county'].str[0]):
    plt.annotate(county, (f[f.index[i]],m[m.index[i]]), fontsize = 7)
ax.set(title = 'Mortality Rate Ages 0-4 per 1,000 by Sex & Province', xlabel = 'Female Mort.', ylabel='Male Mort.');

Above we see that there is substantial variation in infant mortalities between village and very little deviation by sex.  there do appear to be some associations by provice.  I would suspect that there would be substantial associations between medical care, wealth, and infant mortality.

In [ ]:
plot_medical = ch89m.loc[:,mortalities_0_4].corr()['m106_MEDICALa'].abs().sort_values(ascending = False)[0:8]
sns.barplot(x = plot_medical.values, y = plot_medical.index, color = 'lightblue').set(
title = 'Correlations with medical-related mortalities by age 5',
xlabel = 'Correlation Coefficient',
ylabel = 'Mortality identifier')

Respiratory illnesses have the greatest correlation with medical related mortality for ages 0-4

###### I'll next look at mortalities from ages 0 to 34

In [ ]:
mortalities_0_34 = [col for col in ch89m.columns.values if col.endswith(('b','0_34'))]
mortalities_0_34
m0_34 = ch89m.loc[:,mortalities_0_34].describe().loc['mean'].sort_values(ascending = False)
m0_34

In [ ]:
sns.barplot(x = m0_34[0:10].values, y = m0_34[0:10].index, color='lightblue').set(
title = 'Mortality rates by cause, ages 0-34 ',
xlabel = 'Yearly mortalities per 100,00',
ylabel = 'Mortality identifier')

In [ ]:
m0_34_corr = ch89m.loc[:,m0_34.index].corr()['m004_ALL0_34'].sort_values(ascending = False)[0:12]

In [ ]:
plot_medical = ch89m.loc[:,m0_34_corr.index].corr()\
['m004_ALL0_34'].abs().sort_values(ascending = False)[0:20]
sns.barplot(x = plot_medical.values, y = plot_medical.index, color = 'lightblue').set(
title = 'Correlations with all-cause mortality ages 0-34',
xlabel = 'Correlation Coefficient',
ylabel = 'Mortality identifier');

In [ ]:
fig,ax = plt.subplots()
f = ch89m[ch89m['sex']=='F']['m004_ALL0_34']
m = ch89m[ch89m['sex']=='M']['m004_ALL0_34']
# plt.scatter(f,m)
ax.set(xlim=(80, 425), ylim=(80, 425))
plt.plot([0,425],[0,425])
plt.scatter(x = f, y = m, alpha = .2, s=15)
for i, county in enumerate(ch89m[ch89m['sex']=='F']['county'].str[0]):
    plt.annotate(county, (f[f.index[i]],m[m.index[i]]), fontsize = 7)
ax.set(title = 'Mortality Rate Ages 0-34 per 1,000 by Sex & Province', xlabel = 'Female Mort.', ylabel='Male Mort.');

###### Next I'll check out mortalities between ages 35 and 69

In [ ]:
mortalities_35_69 = [col for col in ch89m.columns.values if col.endswith(('c','69'))]
m35_69 = ch89m.loc[:,mortalities_35_69].describe().loc['mean'].sort_values(ascending = False)
m35_69

In [ ]:
sns.barplot(x = m35_69[0:15].values, y = m35_69[0:15].index, color='lightblue').set(
title = 'Mortality rates by cause, ages 35-69 ',
xlabel = 'Yearly mortalities per 100,00',
ylabel = 'Mortality identifier')

In [ ]:
mortalities35_69_corr = list(m35_69.index)

In [ ]:
plot_medical = ch89m.loc[:,mortalities35_69_corr].corr()\
['m005_ALL35_69'].abs().sort_values(ascending = False)[0:8]
plot_medical

In [ ]:
plot_medical = ch89m.loc[:,mortalities35_69_corr].corr()\
['m005_ALL35_69'].abs().sort_values(ascending = False)[0:20]
sns.barplot(x = plot_medical.values, y = plot_medical.index, color = 'lightblue').set(
title = 'Correlations with all-cause mortality ages 35-69',
xlabel = 'Correlation Coefficient',
ylabel = 'Mortality identifier');

In [ ]:
sns.heatmap(ch89m.loc[:,mortalities35_69_corr][ch89m.loc[:,mortalities35_69_corr].corr()\
['m005_ALL35_69'].abs().sort_values(ascending = False)[2:9].index].corr()).set(
title = 'Correlations between the leading correlates with ALL35_69' )

In [ ]:
fig,ax = plt.subplots()
f = ch89m[ch89m['sex']=='F']['m059_ALLVASCc']*100
m = ch89m[ch89m['sex']=='M']['m059_ALLVASCc']*100
# plt.scatter(f,m)
ax.set(xlim=(0, 1250), ylim=(5, 1250))
plt.plot([0, 1250],[0, 1250])
plt.scatter(x = f, y = m, alpha = .2, s=15)
for i, county in enumerate(ch89m[ch89m['sex']=='F']['county'].str[0]):
    plt.annotate(county, (f[f.index[i]],m[m.index[i]]),fontsize = 7)
ax.set(title = 'Mortality: allvascular, Ages 35-69 per 100,000 by Sex & Province', 
       xlabel = 'Female Mort.', ylabel='Male Mort.');

In [ ]:
fig,ax = plt.subplots()
f = ch89m[ch89m['sex']=='F']['m065_STROKEc']
m = ch89m[ch89m['sex']=='M']['m065_STROKEc']
# plt.scatter(f,m)
ax.set(xlim=(0, 620), ylim=(5, 620))
plt.plot([0, 800],[0, 800])
plt.scatter(x = f, y = m, alpha = .2, s=15)
for i, county in enumerate(ch89m[ch89m['sex']=='F']['county'].str[0]):
    plt.annotate(county, (f[f.index[i]],m[m.index[i]]), fontsize = 7)
ax.set(title = 'Mortality: Cerebrovascular, Ages 35-69 per 100,000 by Sex & Province', 
       xlabel = 'Female Mort.', ylabel='Male Mort.');

In [ ]:
fig,ax = plt.subplots()
f = ch89m[ch89m['sex']=='F']['m023_ALLCAc']*100
m = ch89m[ch89m['sex']=='M']['m023_ALLCAc']*100
# plt.scatter(f,m)
ax.set(xlim=(0, 1400), ylim=(0, 1400))
plt.plot([0, 1400],[0, 1400])
plt.scatter(x = f, y = m, alpha = .2, s=15)
for i, county in enumerate(ch89m[ch89m['sex']=='F']['county'].str[0]):
    plt.annotate(county, (f[f.index[i]],m[m.index[i]]), fontsize = 7)
ax.set(title = 'Mortality: Cancer, Ages 35-69 per 100,000 by Sex & Province', 
       xlabel = 'Female Mort.', ylabel='Male Mort.');

Idea: cluster analysis of villages

###### send mortality targets to dataframe

In [ ]:
mortality_df = pd.DataFrame(['m005_ALL35_69', 'm008_MEDICALc', 'm065_STROKEc', 'm023_ALLCAc',
       'm059_ALLVASCc', 'm028_OESOPHCAc', 'm072_COPDc', 'm010_NONMEDc'], columns=['mortality_targets'])
mortality_df['mortality_targets'].values

In [ ]:
mortality_df.to_csv('./cleaned_data_descriptive/mortality_list.csv')

###### looking at correlations between mortality and explanatory data

In [ ]:
ch89pru_filtered = ch89pru.loc[(ch89pru['xiang']==3) & (ch89pru['sex']=='T'),:]

In [ ]:
# ch89m[ch89m.loc['sex'=='T',]]['county','m059_ALLVASCc','xiang']

ch89m.loc[ch89m['sex']=='T',]

In [ ]:
ch89m

In [ ]:
[ch89m['sex']=='T']

In [ ]:
ch89m[['county','m059_ALLVASCc','xiang']][ch89m['sex']=='T']

In [ ]:
plasma_vasc = pd.merge(ch89pru_filtered, 
                       ch89m[['county','m059_ALLVASCc','xiang']][ch89m['sex']=='T'], on=['county','xiang'])

In [ ]:
plasma_vasc.corr()['m059_ALLVASCc'].sort_values(ascending = False)[1:15]

In [ ]:
plt.scatter(plasma_vasc['r009'],plasma_vasc['m059_ALLVASCc'])

There is a slight correlation of 0.445968 between red blood cell TOTAL LIPID MYRISTIC ACID (14:0) (% of total fatty acid by weight) and cardio-vascular disease mortality

In [ ]:
plasma_vasc.shape

In [ ]:
plt.scatter(plasma_vasc['p016'],plasma_vasc['m059_ALLVASCc'])

It is strange that lycopene would have a positive correlation (0.438972)  with cardiovascular mortality.